@import "../../scss/variables.css";

.channel-item.active {
    background: rgba(88, 174, 255, 0.3);
    color: var(--strong-blue);
}

.channel-item.active:hover {
    background: rgba(88, 174, 255, 0.3);
}
